<app-job-tab [tab]="currentPage" (onTabChange)="currentPage = $event"></app-job-tab>

@if (currentPage === 'result') {
  <div class="flex flex-col gap-4 max-w-content-xl w-full px-4">
    <div class="flex items-center justify-between pt-4">
      <div class="flex gap-2 items-center">
        <button type="button" title="Back to All Results"
          class="border border-solid border-[#DEE2E6] rounded-sm px-2 py-1 flex items-center gap-2 bg-[#f8f9fa]"
          (click)="backToSearch()">
          <i class="pi pi-arrow-left"></i>
          <span>Back to All Results</span>
        </button>
        @switch (algorithm) {
          @case ('mcs') {
            <h5 class="font-bold mt-0">MCS Results</h5>
          }
          @case ('fragment') {
            <h5 class="font-bold mt-0">Fragment Algorithm Results</h5>
          }
          @case ('tanimoto') {
            <h5 class="font-bold mt-0">Tanimoto Similarity Results</h5>
          }
        }
        <button
          type="button"
          title="copy job id"
          class="border-none cursor-pointer"
        >
          <i class="pi pi-link" (click)="copyAndPasteURL()"></i>
        </button>
      </div>
      <div class="flex items-center gap-2">

        <div id="btn-export" class="flex flex-col justify-center">
          <p-button label="Export" icon="pi pi-download" (onClick)="menu.toggle($event)"></p-button>
          <p-tieredMenu #menu [model]="exportOptions" [popup]="true" />
        </div>
      </div>
    </div>

    <p-panel>
      <ng-template pTemplate="header">
        <span class="grow">Input Substrate</span>
      </ng-template>

      @if (result.status === 'loading') {
        <div class="flex gap-2 p-2">
          <p-skeleton shape="rectangle" width="217px" height="217px"></p-skeleton>
          <div class="flex flex-col gap-4 grow border-l border-solid border-[#DEE2E6] pl-2">
            <div class="flex flex-col gap-4">
              <div class="flex justify-between">
                <p-skeleton width="100px" height="1.5rem"></p-skeleton>
                <p-skeleton width="200px" height="1.5rem"></p-skeleton>
              </div>
              <div class="flex justify-between">
                <p-skeleton width="100px" height="1.5rem"></p-skeleton>
                <p-skeleton width="200px" height="1.5rem"></p-skeleton>
              </div>
              <div class="flex justify-between">
                <p-skeleton width="150px" height="1.5rem"></p-skeleton>
                <p-skeleton width="100px" height="1.5rem"></p-skeleton>
              </div>
              <hr>
              <div class="flex flex-col gap-2">
                <p-skeleton width="300px" height="1.5rem"></p-skeleton>
                <p-skeleton width="100%" height="3rem"></p-skeleton>
              </div>
            </div>
          </div>
        </div>
      } @else if (substrate) {
      <div class="flex gap-2 p-2">
        <div class="flex flex-col gap-2 w-1/3 p-2">
          <app-molecule-image #molecule2d
            class="w-full h-full rounded-md border border-solid border-[#DEE2E6] p-2 flex items-center justify-center"
            [smiles]="substrate['smiles']" [width]="200" [height]="200"></app-molecule-image>
        </div>
        <div class="flex flex-col gap-4 w-2/3 border-l border-solid border-[#DEE2E6] p-2">
          <div class="flex flex-col gap-4">
            <div class="flex justify-between">
              <span class="leading-sm text-[#495057]">Name</span>
              <span class="font-semibold text-end leading-base inline-block max-w-[200px] break-words">{{
                substrate['iupac_name'] }}</span>
            </div>
            <div class="flex justify-between">
              <span class="leading-sm text-[#495057]">SMILES</span>
              <span class="font-semibold text-end leading-base inline-block max-w-[200px] break-words">{{
                substrate['smiles'] }}</span>
            </div>
            <div class="flex justify-between">
              <span class="leading-sm text-[#495057]">Matches Returned</span>
              <span class="font-semibold text-end leading-base inline-block max-w-[200px] break-words">
                @if (result.data && result.data.ungroupedData) {
                  @let stats = getStats(result.data.ungroupedData);
                  {{ stats.totalCompounds }} compounds
                } @else {
                  loading ...
                }
              </span>
            </div>
            <hr>
            @switch (algorithm) {
              @case ('mcs') {
                <div>
                  <div>
                    <div class="leading-xl text-[#6C757D]">What is 
                      <ng-container *ngTemplateOutlet="algorithmTemplate; context: { $implicit: algorithm, label: 'MCS Score' }"></ng-container>?
                    </div>
                    <div class="leading-xl italic mt-2 text-[#6C757D]">
                      Maximum Common Substructure Score is a numerical value ranging from 0 to 1 representing the size of the largest shared substructure between two molecules, with higher scores indicating greater structural overlap. The top 10 matches for the input substrate are shown below.
                    </div>
                  </div>
                </div>
              }
              @case ('tanimoto') {
                <div>
                  <div class="leading-xl text-[#6C757D]">What is
                    <ng-container *ngTemplateOutlet="algorithmTemplate; context: { $implicit: algorithm, label: 'Tanimoto Score' }"></ng-container>?
                  </div>
                  <div class="leading-xl italic mt-2 text-[#6C757D]">
                    Tanimoto Similarity Score is a metric ranging from 0 to 1 that quantifies the similarity between two molecular fingerprints, where 1 indicates identical structures. The top 10 matches for the input substrate are shown below.
                  </div>
                </div>
              }
              @case ('fragment') {
                <div>
                  <div class="leading-xl text-[#6C757D]">What results are returned?</div>
                  <div class="leading-xl italic mt-2 text-[#6C757D]">
                    All substrates with matching fragments are returned. Matches are listed from largest to smallest fragment.
                  </div>
                </div>
              }
            }
          </div>
        </div>
      </div>
      }
    </p-panel>

    <div class="flex flex-col h-full">
      <div class="my-4">
        <p-panel>
          <ng-template pTemplate="header">
            <span class="grow">Results</span>
            <div class="flex items-center gap-2">
              <button class="btn-outline !flex items-center gap-2" (click)="filterDialogVisible = !filterDialogVisible">
                <i class="pi pi-filter"></i>
                <h6 class="inline leading-lg">Filter</h6>
              </button>
              <button class="btn-outline" (click)="clearAllFilters()">
                Clear All
              </button>
            </div>
          </ng-template>

          <div class="flex flex-col">
            @if (hasFilter) {
            <div id="container-filters" class="flex flex-col gap-2 w-full gap-4 p-2 px-4 bg-white">
              <div class="font-semibold">Current Filters</div>
              <div class="flex gap-2">
                @for (filter of filterRecords; track filter.label) {
                @if (filter.hasFilter()) {
                <span class="rounded-sm bg-[--surface-d] p-1 flex items-center gap-1">
                  <div [innerHTML]="filter.label.value" class="font-semibold"></div>: {{
                  filter.formattedValue }}
                  <i class="pi pi-times-circle cursor-pointer" (click)="
                                                  filter.value = filter.defaultValue;
                                                  applyFilters();
                                              "></i>
                </span>
                }
                }
              </div>
            </div>

            <hr />
            }

            <div class="flex w-full">
              @switch (result.status) {
                @case ('loading') {
                  <div class="w-full p-2 flex flex-col gap-2">
                    <div class="flex gap-2">
                      @for (i of [1,2,3,4,5,6,7,8,9,10]; track i) {
                        <div class="w-[10%]"> 
                          <p-skeleton width="100%" height="2rem"></p-skeleton>
                        </div>
                      }
                    </div>
                    
                    @for (i of [11,12,13,14,15]; track i) {
                      <p-skeleton width="100%" height="2rem"></p-skeleton>
                    }
                  </div>
                }
                @case ('error') {
                  <div class="flex items-center justify-center w-full h-[700px]">
                    <div class="flex flex-col items-center gap-4">
                      <i class="pi pi-exclamation-triangle text-4xl text-red-500"></i>
                      <span class="text-lg">Error loading results. Please try again.</span>
                    </div>
                  </div>
                }
                @case ('loaded') {
                  @if (result.data) {
                    <p-table #resultsTable
                      [value]="result.data.data"
                      [rows]="10" 
                      [rowsPerPageOptions]="[10, 20, 50]"
                      [paginator]="true" 
                      dataKey="iid" 
                      class="w-full h-full" 
                      tableStyleClass="w-full" 
                      styleClass="w-full"
                      [columns]="columns"
                      [sortField]="algorithm"
                      [sortOrder]="-1"
                      scrollable
                      scrollHeight="700px"
                      (onSort)="customSort($event)"
                    >
                      <ng-template pTemplate="header">
                        <tr>
                          @for (filter of filters.entries(); track filter[0]) {
                            @let value = filter[1];
                            <th class="align-middle relative group w-[10%]" [pSortableColumn]="value.sortingField">
                              <div [innerHTML]="value.label.value"></div>
                              <p-sortIcon
                                class="absolute top-0 right-0 p-2 text-[#6C757D] [.p-highlight_&]:!visible invisible group-hover:visible"
                                [field]="value.sortingField" />
                            </th>  
                          }
                        </tr>
                      </ng-template>

                      <ng-template pTemplate="body" let-group>
                        <tr>
                          <td colspan="11">
                            <button 
                              title="Expand"
                              type="button" 
                              (click)="group.expanded = !group.expanded"
                              class="inline-flex items-center gap-2">
                              <i [class]="group.expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                              <span class="font-semibold">Compound: </span>
                              <span 
                                class="text-blue-primary"
                                (mouseenter)="moleculeOverlay.show($event)" 
                                (mouseleave)="moleculeOverlay.hide()
                              ">{{ group.compound.name }}</span>
                              <p-overlayPanel #moleculeOverlay>
                                <div class="w-[300px] p-4 bg-[#F8F9FA]">
                                  <div class="flex justify-center p-2 mb-4 border border-solid rounded-md border-[#DEE2E6] bg-white">
                                    <app-molecule-image
                                      [smiles]="group.compound.smiles"
                                      [width]="150"
                                      [height]="150"
                                      [highlightAtoms]="
                                        algorithm === 'mcs' 
                                        ? group[algorithm].match 
                                        : []"
                                    ></app-molecule-image>
                                  </div>
                                  <div class="flex flex-col gap-3">
                                    <div class="flex justify-between">
                                      <span class="leading-base opacity-60">Name</span>
                                      <span class="font-semibold text-end">{{ group.compound.name }}</span>
                                    </div>
                                    <div class="flex justify-between">
                                      <span class="leading-base opacity-60">Formula</span>
                                      <span class="font-semibold text-end break-all">{{ group.compound.formula }}</span>
                                    </div>
                                    <div class="flex justify-between">
                                      <span class="leading-base opacity-60">SMILES</span>
                                      <span class="font-semibold text-end break-all">{{ group.compound.smiles }}</span>
                                    </div>
                                    <div class="flex justify-between">
                                      @switch (algorithm) {
                                        @case ('mcs') {
                                          <span class="leading-base opacity-60">MCS Score</span>
                                          <ng-container *ngTemplateOutlet="algorithmTemplate; context: { 
                                            $implicit: algorithm, 
                                            label: getAlgorithmLabel(algorithm, group[algorithm], group)
                                          }"></ng-container>
                                        }
                                        @case ('tanimoto') {
                                          <span class="leading-base opacity-60">Tanimoto Score</span>
                                          <ng-container *ngTemplateOutlet="algorithmTemplate; context: { 
                                            $implicit: algorithm, 
                                            label: getAlgorithmLabel(algorithm, group[algorithm], group)
                                          }"></ng-container>
                                        }
                                      }
                                    </div>
                                  </div>
                                </div>
                              </p-overlayPanel>
                              <ng-container *ngTemplateOutlet="algorithmTemplate; context: { 
                                $implicit: algorithm, 
                                label: getAlgorithmLabel(algorithm, group[algorithm], group)
                              }"></ng-container>
                            </button>
                            <button class="float-right inline-flex items-center gap-2 bg-[--surface-100] text-[#6c757d] rounded-sm px-2 py-1" (click)="showEnzymeStructureDialog(group)">
                              <i class="pi pi-eye"></i>
                              @let uniqueUniprotIds = getUniqueUniprotIds(group.rows);
                              <h6>View Enzyme Structure{{ uniqueUniprotIds.length > 1 ? 's' : '' }} ({{ uniqueUniprotIds.length }})</h6>
                            </button>
                          </td>
                        </tr>

                        @if (group.expanded) {
                          @for (row of group.rows; track row.iid) {
                            <tr class="table-row">
                              @for (filter of filters.entries(); track filter[0]) {
                                @let value = filter[1];
                                @switch (value.field) {
                                  @case ('compound.name') {
                                    <td class="align-middle">
                                      <div class="flex items-start gap-2">
                                        <button title="Expand" type="button" (click)="
                                          row.expanded = !row.expanded; 
                                          watchRowExpansion(row)
                                        ">
                                          <i [class]="row.expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                        </button>
                                        <a [routerLink]="['/query/compound', row.compound.name]" 
                                          class="text-blue-500 cursor-pointer"
                                        >
                                          {{ row.compound.name }}
                                        </a>
                                      </div>
                                    </td>
                                  }
                                  @case ('organism') {
                                    <td class="align-middle italic">
                                      {{ row[value.field] }}
                                    </td>
                                  }
                                  @case ('uniprot_id') {
                                    <td class="align-middle">
                                      <div class="flex flex-col gap-1">
                                        @for (id of row.uniprot_id; track id) {
                                        <a class="block" [routerLink]="['/query/uniprot', id]" class="text-blue-500 cursor-pointer">{{ id
                                          }}</a>
                                        }
                                      </div>
                                    </td>
                                  }
                                  @case ('ec_number') {
                                    <td class="align-middle">
                                      <a [routerLink]="['/query/ec', row.ec_number]" class="text-blue-500 cursor-pointer">{{ row.ec_number }}</a>
                                    </td>
                                  }
                                  @case ('kcat') {
                                    <td class="align-middle">
                                      @if (row.kcat) {
                                      {{ row.kcat | number: '1.1-4' }}
                                      } @else {
                                      <span class="opacity-25">N/A</span>
                                      }
                                    </td>
                                  }
                                  @case ('km') {
                                    <td class="align-middle">
                                      @if (row.km) {
                                      {{ row.km | number: '1.1-4' }}
                                      } @else {
                                      <span class="opacity-25">N/A</span>
                                      }
                                    </td>
                                  }
                                  @case ('kcat_km') {
                                    <td class="align-middle">
                                      @if (row.kcat_km) {
                                      {{ row.kcat_km | number: '1.1-4' }}
                                      } @else {
                                      <span class="opacity-25">N/A</span>
                                      }
                                    </td>
                                  }
                                  @case ('pubmed_id') {
                                    <td class="text-end align-middle">
                                      <app-external-link
                                        class="justify-end"
                                        [linkItem]="{
                                          url: 'https://pubmed.ncbi.nlm.nih.gov/' + row.pubmed_id,
                                          label: row.pubmed_id
                                        }"
                                      ></app-external-link>
                                    </td>
                                  }
                                  @case ('mcs') {
                                    <td class="align-middle">
                                      <ng-container *ngTemplateOutlet="algorithmTemplate; context: { 
                                        $implicit: algorithm, 
                                        label: getAlgorithmLabel(algorithm, row[value.field].value)
                                      }"></ng-container>
                                    </td>
                                  }
                                  @case ('fragment') {

                                  }
                                  @case ('tanimoto') {
                                    <td class="align-middle">
                                      <ng-container *ngTemplateOutlet="algorithmTemplate; context: { 
                                        $implicit: algorithm, 
                                        label: getAlgorithmLabel(algorithm, row[value.field])
                                      }"></ng-container>
                                    </td>
                                  }
                                  @default {
                                    <td class="align-middle">
                                      {{ row[value.field] }}
                                    </td>
                                  }
                                }
                              }
                            </tr>
                            <ng-container *ngTemplateOutlet="rowexpansion; context: { $implicit: row }"></ng-container>
                            <ng-template #rowexpansion let-row>
                              @if (row.expanded) {
                                <tr>
                                  <td colspan="11" class="relative overflow-hidden no-scrollbar bg-[#F7FAFF] !p-2">
                                    <div [@slideIn]
                                      class="rounded-md border border-[--surface-d] border-solid bg-white p-2 w-full flex flex-col gap-3">
                                      <div class="flex flex-col gap-4">
                                        <h6 class="font-semibold">Experiment Information</h6>
                                        <div class="flex gap-16">
                                          <div class="flex flex-col gap-2">
                                            <div>Organism</div>
                                            <div class="font-semibold italic text-blue-500">{{ row.organism }}</div>
                                          </div>
                                          <div class="flex flex-col gap-2">
                                            <div>Uniprot ID</div>
                                            <app-external-link 
                                              [linkItem]="{ 
                                                url: 'https://www.uniprot.org/uniprot/' + row.uniprot_id, 
                                                label: row.uniprot_id
                                              }"
                                            ></app-external-link>
                                          </div>
                                          <div class="flex flex-col gap-2">
                                            <div>Enzyme Sequence</div>
                                            <button class="flex items-center gap-1 text-[#64748B] font-semibold" title="Download Sequence" (click)="copySequence(row.sequence)">
                                              <i class="pi pi-copy"></i>
                                              <h6>Copy to Clipboard</h6>
                                            </button>
                                          </div>
                                          <div class="flex flex-col gap-2">
                                            <div>EC Number</div>
                                            <app-external-link 
                                              [linkItem]="{ 
                                                url: 'https://enzyme.expasy.org/EC/' + row.ec_number, 
                                                label: row.ec_number
                                              }"
                                            ></app-external-link>
                                          </div>
                                          <div class="flex flex-col gap-2">
                                            <div>PubMed ID</div>
                                            <app-external-link
                                              [linkItem]="{
                                                url: 'https://pubmed.ncbi.nlm.nih.gov/' + row.pubmed_id,
                                                label: row.pubmed_id
                                              }"
                                            ></app-external-link>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="grid grid-cols-2 gap-2">
                                        <h6 class="grid-cols-1 col-span-1 font-semibold">Compound Structure</h6>
                                        <h6 class="grid-cols-2 col-span-1 font-semibold">Enzyme Structure</h6>
                                        <div class="grid-cols-1 col-span-1 h-full rounded-md border border-solid border-[#DEE2E6] p-2 flex items-center justify-center relative">
                                          <button 
                                            class="absolute top-1 right-1 inline-flex items-center gap-2 bg-[--surface-100] text-[#6c757d] rounded-sm p-1"
                                            title="View Compound Structure"
                                            (click)="showCompoundStructureDialog(row.compound)"
                                          >
                                            <i class="pi pi-window-maximize"></i>
                                          </button>
                                          @if (algorithm === 'fragment') {
                                            <app-molecule-image
                                              #molecule2d
                                              [smiles]="row.compound.smiles"
                                              [width]="300"
                                              [height]="200"
                                              [highlightAtoms]="row.fragment?.flattenedMatches ?? []"
                                            ></app-molecule-image>
                                          } @else {
                                            <app-molecule-image
                                              #molecule2d
                                              [smiles]="row.compound.smiles"
                                              [width]="300"
                                              [height]="200"
                                            ></app-molecule-image>
                                          }
                                        </div>
                                        <app-molecule3d
                                          #molecule3d
                                          class="grid-cols-2 col-span-1 h-full rounded-md border border-solid border-[#DEE2E6] p-1" 
                                          [options]="{
                                              data: row.uniprot_id[0],
                                              dataType: 'uniprot',
                                              viewerOptions: {
                                                  mode: 'cartoon',
                                                  modeConfig: {
                                                    color: 'spectrum'
                                                  }
                                              }
                                          }">
                                        </app-molecule3d>
                                      </div>
                                      <div class="flex flex-col gap-2">
                                        <h6 class="font-semibold">Reaction Schema</h6>
                                        @let schemas = reactionSchemaCache[getCacheKey(row)];
                                        <div class="border border-solid border-[#DEE2E6] rounded-md p-2">
                                          @switch (schemas?.status) {
                                            @case ('loaded') {
                                              @if (schemas.data.length > 0) {
                                                <p-scrollPanel [style]="{ height: '200px', width: '100%' }">
                                                  @for (schema of schemas.data; track schema) {
                                                    <app-reaction-schema [reactionSchema]="schema" />
                                                    <hr class="my-2" />
                                                  }
                                                </p-scrollPanel>
                                              } @else {
                                                <p class="text-[#6C757D] italic">No reaction schema available</p>
                                              }
                                            }
                                            @case ('loading') {
                                              <p class="text-[#6C757D] italic">Loading reaction schema...</p>
                                            }
                                            @case ('error') {
                                              <p class="text-[#6C757D] italic">Error loading reaction schema</p>
                                            }
                                          }
                                        </div>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              }
                            </ng-template>
                          }
                        }
                      </ng-template>

                      <ng-template pTemplate="emptymessage">
                        <tr>
                          <td colspan="11" class="text-center">
                            <div class="flex flex-col items-center justify-center h-full gap-4 p-8">
                              <h5 class="font-semibold text-center">Empty</h5>
                              <p class="text-center">No kinetic data found. Please try a new search.</p>
                            </div>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  }
                }
              }
            </div>
          </div>
        </p-panel>
      </div>
    </div>
  </div>
} @else {
  <app-enzyme-recommendation [formValue]="jobInfo" [showJobTab]="false"></app-enzyme-recommendation>
}

<ng-template #algorithmTemplate let-algo let-label="label">
  @switch (algo) {
    @case ('mcs') {
      <span class="p-1 text-white font-semibold rounded-md bg-[#726EDE]">{{ label }}</span>
    }
    @case ('fragment') {
      <span class="text-gray-400">{{ label }}</span>
    }
    @case ('tanimoto') {
      <span class="p-1 text-black font-semibold rounded-md bg-[#B2FDEF]">{{ label }}</span>
    }
  }
</ng-template>

<app-filter-dialog [(visible)]="filterDialogVisible" [filters]="filters"
  [numberResults]="$any(resultsTable)?.filteredValue?.length ?? result.data?.total ?? 0" (filterChange)="searchTable($event)"
  (clearAllFilters)="clearAllFilters()" (applyFilters)="applyFilters()">
</app-filter-dialog>

<app-enzyme-structure-dialog
  [(visible)]="enzymeStructureDialogVisible"
  [dataset]="result.data?.ungroupedData || []"
  [group]="selectedGroup"
></app-enzyme-structure-dialog>

@if (compoundStructureDialogSmiles) {
  <app-compound-structure-dialog
    [(visible)]="compoundStructureDialogVisible"
    [smiles]="compoundStructureDialogSmiles"
    (visibleChange)="compoundStructureDialogVisible = $event"
  ></app-compound-structure-dialog>
}

<p-toast baseZIndex="9999" />