<div class="flex gap-1 justify-around">
  @for (reactant of reactionSchema.reactants; track reactant; let index = $index) {
  @if (index !== 0) {
    <span>&nbsp;+&nbsp;</span>
  }
  <ng-container *ngTemplateOutlet="chemicalBlock; context: { 
    $implicit: { 
        name: reactant, 
        imagePackage: images[reactant],
    } 
  }"></ng-container>
  }
  <span>&nbsp;=&nbsp;</span>
  @for (product of reactionSchema.products; track product; let index = $index) {
    @if (index !== 0) {
      <span>&nbsp;+&nbsp;</span>
    }
  <ng-container *ngTemplateOutlet="chemicalBlock; context: { 
      $implicit: { 
        name: product, 
        imagePackage: images[product],
      }
    }"></ng-container>
  }
</div>

<ng-template #chemicalBlock let-data>
  <div class="flex flex-col gap-1">
    <div class="font-bold text-center">{{ data.name }}</div>
    <div class="flex flex-col gap-1">
      <app-molecule-image 
        [loadableImage]="data.imagePackage"
        width="80px"
        height="80px"
      />
    </div>
  </div>
</ng-template>