<div class="density-plot-container" #container>
  <svg>
    <defs>
      <linearGradient id="gradient" gradientUnits="userSpaceOnUse" x1="0" x2="100%">
        @for (stop of gradientStops; track stop.offset) {
          <stop [attr.offset]="stop.offset * 100 + '%'" [attr.stop-color]="stop.color" />
        }

      </linearGradient>
    </defs>
    <g class="plot-container">
      <path class="density-curve" fill="url(#gradient)" />
      <g id="x-axis" class="axis"></g>
      <g id="y-axis" class="axis"></g>
    </g>
  </svg>
</div>