<div class="flex flex-col h-full -mb-4">
    <div class="flex flex-col items-center h-full mt-6 w-full">
        <div class="flex w-full p-4">
            <a class="font-bold" href="/">
                <h6>
                    <i class="text-xs pi pi-chevron-left"></i>
                    <span class="ml-4 text-[#224063]">Back to Home page</span>
                </h6>
            </a>
        </div>
        <div class="flex w-full p-4 pb-0 grow">
            <nav class="flex w-[200px] flex-col">
                <a
                    class="z-10 flex items-center border-r-2 border-solid p-4 hover:bg-gray-100 text-nowrap"
                    [class.border-[#495057]]="activePanel === ActiveAboutPanel.ABOUT"
                    [class.text-[#224063]]="activePanel === ActiveAboutPanel.ABOUT"
                    [class.text-[#6C757D]]="activePanel !== ActiveAboutPanel.ABOUT"
                    routerLink="/about">
                    <i class="pi pi-info-circle"></i><a class="ml-2 font-bold">About</a>
                </a>
                <a
                    class="z-10 flex items-center border-r-2 border-solid p-4 hover:bg-gray-100 text-nowrap"
                    [class.border-[#495057]]="activePanel === ActiveAboutPanel.TUTORIAL"
                    [class.text-[#224063]]="activePanel === ActiveAboutPanel.TUTORIAL"
                    [class.text-[#6C757D]]="activePanel !== ActiveAboutPanel.TUTORIAL"
                    routerLink="/about/tutorial">
                    <i class="pi pi-question-circle"></i><a class="ml-2 font-bold">Tutorial</a>
                </a>
                <a
                    class="z-10 flex items-center border-r-2 border-solid p-4 hover:bg-gray-100 active:border-[#495057] text-nowrap"
                    [class.border-[#495057]]="activePanel === ActiveAboutPanel.STATISTICS"
                    [class.text-[#224063]]="activePanel === ActiveAboutPanel.STATISTICS"
                    [class.text-[#6C757D]]="activePanel !== ActiveAboutPanel.STATISTICS"
                    routerLink="/about/statistics">
                    <i class="pi pi-chart-bar"></i><a class="ml-2 font-bold">Statistics</a>
                </a>
                <a
                    class="z-10 flex items-center border-r-2 border-solid p-4 hover:bg-gray-100 text-nowrap"
                    [class.border-[#495057]]="activePanel === ActiveAboutPanel.LICENSE"
                    [class.text-[#224063]]="activePanel === ActiveAboutPanel.LICENSE"
                    [class.text-[#6C757D]]="activePanel !== ActiveAboutPanel.LICENSE"
                    routerLink="/about/license">
                    <i class="pi pi-file-check"></i><a class="ml-2 font-bold">License</a>
                </a>
                <a
                    class="z-10 flex items-center border-r-2 border-solid p-4 hover:bg-gray-100 text-nowrap"
                    [class.border-[#495057]]="activePanel === ActiveAboutPanel.API"
                    [class.text-[#224063]]="activePanel === ActiveAboutPanel.API"
                    [class.text-[#6C757D]]="activePanel !== ActiveAboutPanel.API"
                    routerLink="/about/api">
                    <i class="pi pi-database"></i><a class="ml-2 font-bold">API and Download</a>
                </a>
                <a
                    class="z-10 flex items-center border-r-2 border-solid p-4 hover:bg-gray-100 text-nowrap"
                    [class.border-[#495057]]="activePanel === ActiveAboutPanel.GITHUB"
                    [class.text-[#224063]]="activePanel === ActiveAboutPanel.GITHUB"
                    [class.text-[#6C757D]]="activePanel !== ActiveAboutPanel.GITHUB"
                    routerLink="/about/github">
                    <i class="pi pi-github"></i><a class="ml-2 font-bold">Github</a>
                </a>
                <a
                    class="z-10 flex items-center border-r-2 border-solid p-4 hover:bg-gray-100 text-nowrap"
                    [class.border-[#495057]]="activePanel === ActiveAboutPanel.PUBLICATIONS"
                    [class.text-[#224063]]="activePanel === ActiveAboutPanel.PUBLICATIONS"
                    [class.text-[#6C757D]]="activePanel !== ActiveAboutPanel.PUBLICATIONS"
                    routerLink="/about/publications">
                    <i class="pi pi-book"></i><a class="ml-2 font-bold">Publications</a>
                </a>
                <a
                    class="z-10 flex items-center border-r-2 border-solid p-4 hover:bg-gray-100 text-nowrap"
                    [class.border-[#495057]]="activePanel === ActiveAboutPanel.TEAM"
                    [class.text-[#224063]]="activePanel === ActiveAboutPanel.TEAM"
                    [class.text-[#6C757D]]="activePanel !== ActiveAboutPanel.TEAM"
                    routerLink="/about/team">
                    <i class="pi pi-users"></i><a class="ml-2 font-bold">Team</a>
                </a>
                <a
                    class="z-10 flex items-center border-r-2 border-solid p-4 hover:bg-gray-100 text-nowrap"
                    [class.border-[#495057]]="activePanel === ActiveAboutPanel.GET_INVOLVED"
                    [class.text-[#224063]]="activePanel === ActiveAboutPanel.GET_INVOLVED"
                    [class.text-[#6C757D]]="activePanel !== ActiveAboutPanel.GET_INVOLVED"
                    routerLink="/about/get-involved">
                    <i class="pi pi-comment"></i><a class="ml-2 font-bold">Get Involved</a>
                </a>
            </nav>

            <div class="-ml-0.5 h-full border-l-2 border-solid border-[#e5e7eb]"></div>

            <!-- About -->
            <div>
                <main *ngIf="activePanel === ActiveAboutPanel.ABOUT" class="w-full h-full pb-12 pl-16">
                    <h1 class="mb-4 font-bold">About</h1>
                    <h5 class="leading-xl">
                        Enzymes serve as the molecular machines of life and essential biocatalysts for numerous
                        biotechnological and biomedical applications. Open Enzyme Database (OED) is a community-driven,
                        open-access repository and infrastructure for sharing enzyme data. The database serves as a
                        critical resource for researchers and practitioners in biochemistry, molecular biology,
                        enzymology, protein and metabolic engineering, and related fields, currently offering quantities
                        of <a class="text-[#0080FF] cursor-pointer"
                            routerLink="/about/statistics">curated data on enzyme kinetics
                            parameters with experimental
                            support.</a> The development of the
                        maximum common substructure (MCS) algorithm, along with chemical similarity and fragment
                        algorithms, has also been completed. These tools will be instrumental in identifying potential
                        enzymes capable of catalyzing new substrates. </h5>

                    <h5 class="leading-xl">Looking ahead, OED plans to expand its scope to encompass a wide array of
                        enzyme-related
                        information, including data on enzyme solubility, stability, specificity, selectivity, functions
                        and associated enzymatic reactions, thereby becoming a comprehensive resource for the scientific
                        community. </h5>

                    <h5 class="leading-xl">With a focus on providing access to extensive enzyme data, OED is committed to
                        serving as an indispensable resource not only for experimental scientists in diverse fields like
                        drug discovery, metabolic engineering, synthetic biology, and synthetic chemistry, but also for
                        machine learning experts who are interested in enzyme property and function prediction and
                        enzyme engineering. </h5>
                </main>

                <!-- Tutorial -->
                <main *ngIf="activePanel === ActiveAboutPanel.TUTORIAL" class="w-full h-full pb-12 pl-16">
                    <app-tutorial></app-tutorial>
                </main>

                <!-- Statistics -->
                <main *ngIf="activePanel === ActiveAboutPanel.STATISTICS" class="w-full h-full pb-12 pl-16">
                    <h1 class="mb-4 font-bold">Statistics</h1>
                    <h5 class="leading-xl">
                        The current release of Open Enzyme Database includes quantities of dataset, featuring 87,833
                        entries
                        for enzyme turnover number (<span class="italic font-semibold">k</span><sub class="text-xs">cat</sub>), 169,264 entries for Michaelis constants (<span class="italic font-semibold">K</span><sub class="text-xs">m</sub>), and 51,698
                        entries
                        for enzyme catalytic efficiency (<span class="italic font-semibold">k</span><sub class="text-xs">cat</sub> / <span class="italic font-semibold">K</span><sub class="text-xs">m</sub>).
                    </h5>
                    <h5>Learn more about our curated data below.</h5>

                    <app-data-snapshot></app-data-snapshot>
                </main>

                <!-- License -->
                <main *ngIf="activePanel === ActiveAboutPanel.LICENSE" class="w-full h-full pb-12 pl-16">
                    <h1 class="mb-4 font-bold">License</h1>
                    <span class="cc-titles">
                        <svg viewBox="0 0 30 30">
                            <use href="assets/cc-icons.svg#cc-logo">
                            </use>
                        </svg>
                        <svg viewBox="0 0 30 30">
                            <use href="assets/cc-icons.svg#cc-by">
                            </use>
                        </svg>
                        <span class="cc-text">
                            CC BY 4.0
                        </span>
                    </span>
                    <h5 class="leading-xl">
                        The Open Enzyme Database is licensed under the Creative Commons Attribution 4.0 International License
                        (CC BY 4.0). This means you are free to share and adapt the material for any purpose, even commercially,
                        as long as you give appropriate credit, provide a link to the license, and indicate if changes were made.
                    </h5>
                    <h5><b class="font-bold">Full license text: </b><a class="text-[#0080FF] underline" target="_blank"
                            href="https://creativecommons.org/licenses/by/4.0/"><i
                                class="mx-2 pi pi-external-link"></i>https://creativecommons.org/licenses/by/4.0/</a>
                    </h5>
                    <h5 class="leading-xl">
                        The Open Enzyme Database incorporates data from other sources:
                        <ul class="list-disc ml-8 mt-2">
                            <li><b>BRENDA</b>, which is published under CC BY 4.0.</li>
                            <li><b>SABIO-RK</b>, which is published under the <a class="text-[#0080FF] underline" href="https://sabiork.h-its.org/license.html" target="_blank"><i
                                class="mx-2 pi pi-external-link"></i>SABIO-RK Non-Commercial Purpose License.</a></li>
                        </ul>
                    </h5>
                </main>

                <!-- API -->
                <main *ngIf="activePanel === ActiveAboutPanel.API" class="w-full h-full pb-12 pl-16">
                    <h1 class="mb-4 font-bold">Application Programming Interface (API) and Download</h1>
                    <h5 class="leading-xl">
                        Programmatic access to Open Enzyme Database is available through the OED API.
                        The page below provides documentation, including Python examples, and allows you to try the API directly
                        in your browser.</h5>

                    <h5><b class="font-bold">API: </b><a class="text-[#0080FF] underline" target="_blank"
                            href="https://openenzymedb-api.platform.moleculemaker.org/api/v1/docs"><i
                                class="mx-2 pi pi-external-link"></i>https://openenzymedb-api.platform.moleculemaker.org/api/v1/docs</a>
                    </h5>

                    <h5 class="leading-xl">
                        Alternatively, the entire dataset can be downloaded in several different formats from the links below. Note these
                        files are compressed using gzip (.gz) to reduce file size and must be decompressed before use.
                    </h5>
                    <h5><b class="font-bold">CSV download: </b><a class="text-[#0080FF] underline" download type="application/gzip"
                            href="assets/downloads/OpenEnzymeDatabase-1.0.0.csv.gz">OpenEnzymeDatabase-1.0.0.csv.gz</a>
                    </h5>
                    <h5><b class="font-bold">JSON download: </b><a class="text-[#0080FF] underline" download type="application/gzip"
                            href="assets/downloads/OpenEnzymeDatabase-1.0.0.json.gz">OpenEnzymeDatabase-1.0.0.json.gz</a>
                    </h5>
                    <h5><b class="font-bold">JSONL download: </b><a class="text-[#0080FF] underline" download type="application/gzip"
                            href="assets/downloads/OpenEnzymeDatabase-1.0.0.jsonl.gz">OpenEnzymeDatabase-1.0.0.jsonl.gz</a>
                    </h5>
                </main>

                <!-- Github -->
                <main *ngIf="activePanel === ActiveAboutPanel.GITHUB" class="w-full h-full pb-12 pl-16">
                    <h1 class="mb-4 font-bold">Github</h1>
                    <h5 class="leading-xl">
                        Open Enzyme Database (OED) is a community-driven, open-access repository and infrastructure,
                        committed to broadening access to enzymatic data and related models and algorithms. Explore
                        OED’s
                        public code repositories below.</h5>

                    <h5><b class="font-bold">Frontend: </b><a class="text-[#0080FF] underline" target="_blank"
                            href="https://github.com/moleculemaker/OpenEnzymeDB-frontend"><i
                                class="mx-2 pi pi-external-link"></i>https://github.com/moleculemaker/OpenEnzymeDB-frontend</a>
                    </h5>
                    <h5><b class="font-bold">API: </b><a class="text-[#0080FF] underline" target="_blank"
                            href="https://github.com/moleculemaker/oed-api"><i
                                class="mx-2 pi pi-external-link"></i>https://github.com/moleculemaker/oed-api</a></h5>
                </main>

                <!-- Publications -->
                <main *ngIf="activePanel === ActiveAboutPanel.PUBLICATIONS" class="w-full h-full pb-12 pl-16">
                    <h1 class="mb-4 font-bold">Publications</h1>
                    <h5 class="leading-xl">
                        Learn more about the advanced AI models that have been integrated into Open Enzyme Database
                    </h5>

                    <ul class="mt-8">
                        <li class="items-center mt-4">
                            <h5 class="mt-0 leading-xl"><b class="font-semibold">DLKcat:</b> Li, F., Yuan, L., Lu, H. et
                                al.
                                Deep learning-based kcat prediction enables improved enzyme-constrained model
                                reconstruction. Nat Catal 5, 662–672 (2022).</h5>
                            <h5 class="mt-0 leading-xl">
                                <a class="text-[#0080FF] underline" target="_blank"
                                    href="https://doi.org/10.1038/s41929-022-00798-z"><i
                                        class="mx-2 pi pi-external-link"></i>DOI:
                                    https://doi.org/10.1038/s41929-022-00798-z</a>
                            </h5>
                        </li>
                        <li class="items-center mt-4">
                            <h5 class="mt-0 leading-xl"><b class="font-semibold"> UniKP:</b> Yu, H., Deng, H., He, J. et
                                al.
                                UniKP: a unified framework for the prediction of enzyme kinetic parameters. Nat Commun
                                <b class="font-bold">14</b>, 8211 (2023).</h5>
                            <h5 class="mt-0 leading-xl">
                                <a class="text-[#0080FF] underline" target="_blank"
                                    href="https://doi.org/10.1038/s41467-023-44113-1"><i
                                        class="mx-2 pi pi-external-link"></i>DOI:
                                    https://doi.org/10.1038/s41467-023-44113-1</a>
                            </h5>
                        </li>
                        <li class="items-center mt-4">
                            <h5 class="mt-0 leading-xl"><b class="font-semibold">CatPred:</b> Boorla, V.S., Maranas,
                                C.D.
                                CatPred: a comprehensive framework for deep learning in vitro enzyme kinetic parameters.
                                Nat
                                Commun <b class="font-bold">16</b>, 2072 (2025).
                                https://doi.org/10.1038/s41467-025-57215-9
                            </h5>
                            <h5 class="mt-0 leading-xl">
                                <a class="text-[#0080FF] underline" target="_blank"
                                    href="https://doi.org/10.1038/s41467-025-57215-9"><i
                                        class="mx-2 pi pi-external-link"></i>DOI:
                                    https://doi.org/10.1038/s41467-025-57215-9</a>
                            </h5>
                        </li>
                    </ul>
                </main>

                <!-- Team -->
                <main *ngIf="activePanel === ActiveAboutPanel.TEAM" class="w-full h-full pb-12 pl-16">
                    <h1 class="mb-4 font-bold">Team</h1>
                    <h5 class="leading-xl">
                        Meet the team behind Open Enzyme Database.
                    </h5>

                    <div class="flex mt-8">
                        <img src="assets/team1.png" class="w-[96px] h-[96px] bg-white rounded-full" />
                        <div class="ml-8">
                            <h5 class="mt-0 font-bold leading-xl">Huimin Zhao</h5>
                            <h6 class="mt-1 leading-xl font-semibold text-[#6C757D]">Project Director</h6>
                            <h6 class="mt-2 leading-xl">
                                Dr. Huimin Zhao <a class="text-[#0080FF]" href="https://chbe.illinois.edu/people/profile/zhao5"
                                target="_blank">(https://chbe.illinois.edu/people/profile/zhao5)</a> is the Steven L. Miller Chair Professor at the University of Illinois at Urbana-Champaign (UIUC). He is currently the director of NSF AI Research Institute for Molecule Synthesis <a class="text-[#0080FF]"
                                href="https://moleculemaker.org" target="_blank">(https://moleculemaker.org)</a>, the director of NSF iBioFoundry, and the director of NSF Global Center for Reliable and Scalable Biofoundries. He received his Ph.D. degree in Chemistry from the California Institute of Technology in 1998 under the guidance of Nobel Laureate Dr. Frances Arnold. Dr. Zhao has authored and co-authored over 453 research articles and over 30 issued and pending patent applications with several being licensed by industry. Dr. Zhao is the Editor-in-Chief of ACS Synthetic Biology and the Founding Associate Editor of ACS Catalysis (2011-2022). His primary research interests are in the development and applications of synthetic biology, machine learning, and laboratory automation tools to address society’s most daunting challenges in health, energy, and sustainability.
                            </h6>
                        </div>
                    </div>

                    <div class="flex mt-8">
                        <img src="assets/team2.png" class="w-[96px] h-[96px] object-cover rounded-full bg-white" />
                        <div class="ml-8">
                            <h5 class="mt-0 font-bold leading-xl">Le Yuan</h5>
                            <h6 class="mt-1 leading-xl font-semibold text-[#6C757D]">Postdoc UIUC</h6>
                            <h6 class="mt-2 leading-xl">Dr. Le Yuan is a postdoctoral researcher at the Carl R. Woese
                                Institute of Genomic Biology (IGB) at the University of Illinois at Urbana-Champaign,
                                under
                                the supervision of Prof. Huimin Zhao. Prior to this, he completed his Ph.D. degree in
                                the
                                Department of Life Sciences at Chalmers University of Technology. Dr. Yuan has published
                                16
                                academic papers in prestigious journals, including Nature Catalysis, Nature Protocols,
                                Nature Communications, etc. His primary research interests include synthetic biology,
                                systems biology and machine learning.</h6>
                        </div>
                    </div>

                    <div class="flex mt-8">
                        <img src="assets/david.jpg" class="w-[96px] h-[96px] object-cover rounded-full bg-white" />
                        <div class="ml-8">
                            <h5 class="mt-0 font-bold leading-xl">David Bianchi</h5>
                            <h6 class="mt-1 leading-xl font-semibold text-[#6C757D]">Research Scientist</h6>
                            <h6 class="mt-2 leading-xl">Dr. David Bianchi is a research scientist at the National Center for Supercomputing Applications (NCSA) at the University of Illinois Urbana-Champaign. Prior to this, he completed his Ph.D. degree in the Department of Chemistry at UIUC. His work focuses on development of computational science platforms, analyses and research with applications ranging from chemistry to genomics, agriculture, health sciences, energy, synthetic biology and bioengineering, and applications of machine learning to these areas.</h6>
                        </div>
                    </div>

                    <div class="flex mt-8">
                        <img src="assets/MattBerry1.jpg" class="w-[96px] h-[96px] object-cover rounded-full bg-white" />
                        <div class="ml-8">
                            <h5 class="mt-0 font-bold leading-xl">Matt Berry</h5>
                            <h6 class="mt-1 leading-xl font-semibold text-[#6C757D]">Lead Software Engineer</h6>
                            <h6 class="mt-2 leading-xl">Matt Berry is the head of Visual Analytics at the National Center for Supercomputing Applications and has served as Lead Research Software Engineer on many major grant- and industry-funded initiatives. His primary interest is the creation of user-friendly, production-grade software systems to help knowledge workers understand and act upon complex data.</h6>
                        </div>
                    </div>

                    <div class="flex mt-8">
                        <img src="assets/bingji.jpg" class="w-[96px] h-[96px] object-cover rounded-full bg-white" />
                        <div class="ml-8">
                            <h5 class="mt-0 font-bold leading-xl">Bingji Guo</h5>
                            <h6 class="mt-1 leading-xl font-semibold text-[#6C757D]">Research Software Engineer</h6>
                            <h6 class="mt-2 leading-xl">Bingji Guo is a Research Software Engineer at the National Center for Supercomputing Applications (NCSA) at the University of Illinois Urbana-Champaign. His work focuses on scientific data visualization, frontend development, and integrating research workflows with effective software technologies. He contributes to many tools within the AlphaSynthesis project, enhancing usability and performance for scientific applications.</h6>
                        </div>
                    </div>

                    <div class="flex mt-8">
                        <img src="assets/Sara.png" class="w-[96px] h-[96px] object-cover rounded-full bg-white" />
                        <div class="ml-8">
                            <h5 class="mt-0 font-bold leading-xl">Sara Lambert</h5>
                            <h6 class="mt-1 leading-xl font-semibold text-[#6C757D]">Research Programmer</h6>
                            <h6 class="mt-2 leading-xl">Sara is a Research Programmer at the National Center for Supercomputing Applications who has contributed to many of the tools within the AlphaSynthesis project, enhancing usability and performance of scientific applications.</h6>
                        </div>
                    </div>

                    <div class="flex mt-8">
                        <img src="assets/chris.jpg" class="w-[96px] h-[96px] object-cover rounded-full bg-white" />
                        <div class="ml-8">
                            <h5 class="mt-0 font-bold leading-xl">Chris Pond</h5>
                            <h6 class="mt-1 leading-xl font-semibold text-[#6C757D]">Engineering Manager</h6>
                            <h6 class="mt-2 leading-xl">Chris Pond is an Engineering Manager and Lead Data Engineer at the National Center for Supercomputing Applications (NCSA) at the University of Illinois Urbana-Champaign. His work spans project leadership, data engineering, and software development across healthcare, AI, and high-performance computing. He has contributed to major initiatives including Technical Integrator for ARPA-H MarginDx, Technical PI for the Mayo Clinic CORE project, the Dark Energy Survey, and the Vera C. Rubin Observatory. He also led the creation and development of the NCSA COVID LIMS, a custom laboratory information management system supporting the University of Illinois COVID-19 saliva testing program.</h6>
                        </div>
                    </div>

                    <div class="flex mt-8">
                        <img src="assets/stephens.jpeg" class="w-[96px] h-[96px] object-cover rounded-full bg-white" />
                        <div class="ml-8">
                            <h5 class="mt-0 font-bold leading-xl">Chris Stephens</h5>
                            <h6 class="mt-1 leading-xl font-semibold text-[#6C757D]">Research Data Engineer</h6>
                            <h6 class="mt-2 leading-xl">Chris Stephens is a Lead Research Data Engineer at NCSA (University of Illinois Urbana-Champaign) with over 25 years of experience in data-centric projects. He designs and implements data pipelines supporting scientific and medical research across disciplines.
                                He has contributed to major initiatives including ARPA-H MarginDx, Mayo Clinic CORE, the Dark Energy Survey, and the Vera C. Rubin Observatory. During the pandemic, Chris helped develop the NCSA COVID LIMS that supported the university's COVID-19 testing program.
                                Chris effectively transforms complex research requirements into efficient data systems through technical expertise and collaborative problem-solving.</h6>
                        </div>
                    </div>

                    <div class="flex mt-8">
                        <img src="assets/Kate.jpeg" class="w-[96px] h-[96px] object-cover rounded-full bg-white" />
                        <div class="ml-8">
                            <h5 class="mt-0 font-bold leading-xl">Kate Arneson</h5>
                            <h6 class="mt-1 leading-xl font-semibold text-[#6C757D]">Research UIX Designer</h6>
                            <h6 class="mt-2 leading-xl">Kate Arneson is a research user interface and experience (UIX) designer at the National Center for Supercomputing Applications (NCSA) at the University of Illinois Urbana-Champaign. Her work focuses on applying human-centered design to research software projects, with applications ranging from chemistry and machine learning to genomics and healthcare. At NCSA and the Molecule Maker Lab Institute, Kate collaborates closely with scientists, engineers, and end-users to create usable, reproducible, and sustainable applications, advancing the role of design in interdisciplinary research.</h6>
                        </div>
                    </div>

                    <div class="flex mt-8">
                        <img src="assets/yash.jpg" class="w-[96px] h-[96px] object-cover rounded-full bg-white" />
                        <div class="ml-8">
                            <h5 class="mt-0 font-bold leading-xl">Yash Wasnik</h5>
                            <h6 class="mt-1 leading-xl font-semibold text-[#6C757D]">Associate Research Data Engineer</h6>
                            <h6 class="mt-2 leading-xl">Yash Wasnik worked as a Research Data Engineer at the National Center for Supercomputing Applications (NCSA) at the University of Illinois Urbana-Champaign. He contributed to the development of AI-ready data infrastructure supporting the Open Enzyme Database, a key component of the NSF-funded Molecule Maker Lab Institute. His work focused on designing scalable ingestion pipelines and structuring enzyme data to enable high-throughput analysis, and predictive modeling for downstream bioinformatics research, accelerating enzyme discovery. He also provided data engineering support to projects like Forensic Anthropology Database for Assessing Methods Accuracy (FADAMA), iRisk Lab at the Gies College of Business.</h6>
                        </div>
                    </div>

                    <div class="flex mt-8">
                        <img src="assets/Chenxin.jpg" class="w-[96px] h-[96px] object-cover rounded-full bg-white" />
                        <div class="ml-8">
                            <h5 class="mt-0 font-bold leading-xl">Chenxin Wang</h5>
                            <h6 class="mt-1 leading-xl font-semibold text-[#6C757D]">Academic Hourly</h6>
                            <h6 class="mt-2 leading-xl">Chenxin Wang is an Academic Hourly at the National Center for Supercomputing Applications (NCSA) at the University of Illinois Urbana-Champaign. His work focuses on developing web-based tools that support and streamline scientific research workflows. His contributions help bridge the gap between complex scientific processes and accessible digital platforms, enhancing research productivity and user experience.</h6>
                        </div>
                    </div>

                    <!-- <div class="flex mt-8">
                        <img src="assets/team2.png" class="w-[96px] h-[96px] object-cover rounded-full bg-white" />
                        <div class="ml-8">
                            <h5 class="mt-0 font-bold leading-xl">Leigh Fu</h5>
                            <h6 class="mt-1 leading-xl font-semibold text-[#6C757D]">Research UIX Designer</h6>
                            <h6 class="mt-2 leading-xl">Leigh Fu is a research user interface and experience (UIX) designer at the National Center for Supercomputing Applications (NCSA) at the University of Illinois Urbana-Champaign.  Her work focuses on translating complex scientific workflows into accessible and intuitive interfaces. She works closely with interdisciplinary teams to improve usability, reproducibility, and accessibility—and to ensure that thoughtful design plays a meaningful role in the advancement of scientific software.</h6>
                        </div>
                    </div> -->
                </main>

                <!-- Get Involved -->
                <main *ngIf="activePanel === ActiveAboutPanel.GET_INVOLVED" class="w-full h-full pb-12 pl-16">
                    <h1 class="mb-4 font-bold">Get Involved</h1>
                    <h5 class="leading-xl">
                        We welcome your questions, suggestions, feedback, and collaboration! Get in touch with us via
                        email (<a class="text-[#0080FF] underline"
                            href="mailto:oed-feedback@moleculemaker.org">oed-feedback&#64;moleculemaker.org</a>)
                        to share your perspective, or join the Open Enzyme Database community through a data
                        contribution by filling out the form below.
                    </h5>
                    <div class="bg-[#F3F5FB] p-5 mt-8">
                        <h2 class="font-semibold mt-0">Contribute Data</h2>
                        <div *ngIf="!contributionFormSubmitted">
                            <h6 class="mt-4 mb-6 leading-xl">
                                Contribute your data to the Open Enzyme Database (OED) and help expand our community resource for enzymology, protein and metabolic engineering, and related fields.
                                Submissions make valuable experimental results accessible for open science and will be reviewed by our team for inclusion.
                                To share your dataset, please complete this form and upload the populated template.
                            </h6>
                            <hr />
                            <form [formGroup]="contributionForm" (ngSubmit)="submitContributionForm()">
                                <h5 class="mt-6 mb-4 font-semibold">1. Contributor Information</h5>
                                <div class="mb-4">
                                    <label for="email" class="block mb-2">Email<span class="text-[#E24C4C]">*</span></label>
                                    <input type="email" pInputText name="email" formControlName="email" placeholder="Enter email"
                                        class="p-3 w-75 border border-gray-300 rounded-md" />
                                </div>
                                <h5 class="mt-6 mb-4 font-semibold">2. Download Template</h5>
                                <h6 class="mt-4 mb-5 leading-xl">
                                    We currently accept submissions for select kinetic parameters (<span class="italic">k<sub>cat</sub></span> , <span class="italic">K<sub>m</sub></span> , <span class="italic">k<sub>cat</sub></span> / <span class="italic">K<sub>m</sub></span>) and related metadata (e.g., temperature, pH). Please download the template, fill in your contributor details and dataset,
                                    then upload it below. For data outside this format, contact us at <a class="text-[#0080FF] underline"
                                        href="mailto:oed-feedback@moleculemaker.org">oed-feedback&#64;moleculemaker.org</a>.
                                </h6>
                                <a class="p-button p-button-lg" download href="assets/downloads/OpenEnzymeDatabase-ContributionTemplate-1.0.0.xlsx"><i class="pi pi-download p-button-icon p-button-icon-left"></i> <span class="p-button-label">Download Template (.xlsx)</span></a>
                                <h5 class="mt-6 mb-4 font-semibold">3. Upload Dataset</h5>
                                <h6 class="mt-4 mb-4 leading-xl">
                                    Upload your dataset in the format of the template above.
                                </h6>
                                <p-fileUpload
                                    mode="basic"
                                    chooseLabel="Upload Data Contribution" 
                                    chooseIcon="pi pi-upload"
                                    name="demo[]" 
                                    accept=".xlsx,.xls,.csv" 
                                    maxFileSize="1000000000" 
                                    styleClass="p-button-lg"
                                    [customUpload]="true"
                                    (onSelect)="onUploadSelect($event)" />
                                <h5 class="mt-6 mb-4 font-semibold">4. Licensing</h5>
                                <h6 class="mt-4 mb-4 leading-xl">
                                    To align with OED’s open data practices and standards, please review the licensing terms and confirm your consent to share this data openly.
                                </h6>
                                <div class="flex items-center gap-2 mb-4">
                                    <p-checkbox formControlName="license" value="cc-by-4" inputId="license" />
                                    <label for="license">I agree to release this data under the <a class="text-[#0080FF] underline" href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution License CC BY 4.0.</a><span class="text-[#E24C4C]">*</span> <i class="pi pi-info-circle p-2" pTooltip="This license enables reusers to distribute, remix, adapt, and build upon the material in any medium or format, so long as attribution is given to the creator. The license allows for commercial use."></i></label>
                                </div>
                                <div class="flex items-center gap-2 mb-6">
                                    <p-checkbox formControlName="rights" value="confirm" inputId="rights" />
                                    <label for="rights">I confirm that I have the rights to share this data publicly through OED.<span class="text-[#E24C4C]">*</span></label>
                                </div>
                                <div class="flex justify-center">
                                    <p-button type="submit" [disabled]="!contributionForm.valid" size="large" label="Submit Contribution" />
                                </div>
                            </form>
                        </div>
                        <div *ngIf="contributionFormSubmitted">
                            <div class="mt-4 mb-6 px-6 py-4 leading-xl text-[#1EA97C] bg-[#E4F8F0]" style="border-radius: 6px 0 0 6px; border-left: 7px solid #1EA97C;">
                                Thank you for your submission! Your upload will be reviewed, and we may be in touch if further discussion is needed. If you would like to contribute additional data that
                                does not match the template file format, please send us an email at <a class="text-[#0080FF] underline"
                                    href="mailto:oed-feedback@moleculemaker.org">oed-feedback&#64;moleculemaker.org</a>.
                            </div>
                            <div class="flex justify-center">
                                <p-button size="large" label="Submit Another Dataset" (click)="resetContributionForm()" />
                            </div>
                        </div>
                    </div>
                </main>
            </div>

        </div>
    </div>
</div>