<h1 class="text-center">Header 1</h1>
<h2 class="text-center">Header 2</h2>
<h3 class="text-center">Header 3</h3>
<h4 class="text-center">Header 4</h4>
<h5 class="text-center">Header 5</h5>
<h6 class="text-center">Header 6</h6>
<p class="text-center">Paragraph</p>
<small class="text-center block">Small</small>
<br/>

<br/>
<br/>

<p class="text-center">Use this page to match the actual font size with design document.</p>

<br/>
<br/>

<app-molecule3d 
    class="w-[400px] h-[400px] relative m-4"
    [options]="{
        data: 'P01567',
        dataType: 'uniprot',
        viewerOptions: {
            mode: 'stick'
        }
    }"
></app-molecule3d>

<app-molecule3d 
    class="w-[400px] h-[400px] relative m-4"
    [options]="{
        data: 'CCCC',
        dataType: 'smi',
        viewerOptions: {
            mode: 'stick'
        }
    }"
></app-molecule3d>