@switch (loadableImage.status) {
    @case ('loading') {
        <p-progressSpinner aria-label="Loading"></p-progressSpinner>
    }
    @case ('loaded') {
        <div [innerHTML]="image | safe:'html'"></div>
    }
    @case ('error') {
        <div [class]="placeholderClassName" 
            class="flex items-center justify-center"
            [style.width]="width"
            [style.height]="height"
        >
            Error loading image
        </div>
    }
    @case ('na') {
        <div [class]="placeholderClassName" 
            class="flex items-center justify-center"
            [style.width]="width"
            [style.height]="height"
        >
            No Image Available
        </div>
    }
    @default {
        <div [innerHTML]="image | safe:'html'"></div>
    }
}