<div class="flex flex-col h-full px-4 xl:w-full w-content-xl">
  <div class="w-full flex mt-20">
    <div class="w-full">
      <h1 class="font-bold leading-xl">Welcome to Open Enzyme Database!</h1>
      <h5 class="max-w-screen-md mt-5 leading-xl">
        A community-driven resource for researchers and professionals in biochemistry, molecular biology, enzymology,
        protein and metabolic engineering, and related fields, the Open Enzyme Database offers curated data on enzyme
        kinetics and experimental parameters, ongoing algorithm development, an expanding knowledge base of enzyme
        solubility, stability, specificity, structures, functions and associated enzymatic reactions.
      </h5>
      <h5 class="max-w-screen-md mt-5 leading-xl">
        Learn more about how the Open Enzyme Database works below and get started using the tool today.
      </h5>
    </div>
  </div>

  <div class="w-full flex flex-col mt-8">
    <h4>Open Enzyme Database Workflow</h4>
    <div class="flex justify-between gap-4 mt-6">
      <p-card styleClass="rounded-none shadow-none border-2 border-solid border-bluegray-100 max-w-[18.875rem]">
        <ng-template pTemplate="header">
          <div class="flex items-center justify-center px-3 pt-[.6rem]">
            <div class="bg-[#9592EE] h-32 w-full flex items-center justify-center">
              <i class="pi pi-search text-white/50" style="font-size: 4rem;"></i>
            </div>
          </div>
        </ng-template>

        <div class="flex flex-col gap-3">
          <h5 class="font-bold opacity-100 leading-lg">
            Search
          </h5>
          <ul class="flex flex-col gap-2 ml-6 list-disc">
            <li class="pl-1 leading-normal">
              Input an entity name or range to search the Open Enzyme Database
            </li>
          </ul>
        </div>
      </p-card>

      <div class="flex items-center">
        <svg width="46" height="8" viewBox="0 0 46 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.32324 4L39.4999 4" stroke="#1F2024" stroke-linecap="round" />
          <path
            d="M41.5475 3.28035L36.5157 0.152562C35.9129 -0.222171 35.1357 0.133851 35.0158 0.780589C34.9947 0.894278 35.0201 1.01018 35.0593 1.11895L36.0979 4.00003L35.0593 6.88111C35.0201 6.98989 34.9947 7.10578 35.0158 7.21947C35.1342 7.85706 35.8925 8.21483 36.4954 7.85977L41.5272 4.89661C42.1487 4.53065 42.1596 3.66082 41.5475 3.28035Z"
            fill="#1F2024" />
          <path
            d="M0.5 4C0.500001 2.067 2.067 0.499999 4 0.5C5.933 0.5 7.5 2.067 7.5 4C7.5 5.933 5.933 7.5 4 7.5C2.067 7.5 0.5 5.933 0.5 4Z"
            fill="white" stroke="#1F2024" />
        </svg>
      </div>

      <p-card styleClass="rounded-none shadow-none border-2 border-solid border-bluegray-100 max-w-[18.875rem]">
        <ng-template pTemplate="header">
          <div class="flex items-center justify-center px-3 pt-[.6rem]">
            <div class="bg-[#00a0ddfc] h-32 w-full flex items-center justify-center">
              <i class="pi pi-table text-white/50" style="font-size: 4rem;"></i>
            </div>
          </div>
        </ng-template>

        <div class="flex flex-col gap-3">
          <h5 class="font-bold opacity-100 leading-lg">Results</h5>
          <ul class="flex flex-col gap-2 ml-6 list-disc">
            <li class="pl-1 leading-normal">
              Browse relevant entity information and experimental data
            </li>
          </ul>
        </div>
      </p-card>

      <div class="flex items-center">
        <svg width="46" height="8" viewBox="0 0 46 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.32324 4L39.4999 4" stroke="#1F2024" stroke-linecap="round" />
          <path
            d="M41.5475 3.28035L36.5157 0.152562C35.9129 -0.222171 35.1357 0.133851 35.0158 0.780589C34.9947 0.894278 35.0201 1.01018 35.0593 1.11895L36.0979 4.00003L35.0593 6.88111C35.0201 6.98989 34.9947 7.10578 35.0158 7.21947C35.1342 7.85706 35.8925 8.21483 36.4954 7.85977L41.5272 4.89661C42.1487 4.53065 42.1596 3.66082 41.5475 3.28035Z"
            fill="#1F2024" />
          <path
            d="M0.5 4C0.500001 2.067 2.067 0.499999 4 0.5C5.933 0.5 7.5 2.067 7.5 4C7.5 5.933 5.933 7.5 4 7.5C2.067 7.5 0.5 5.933 0.5 4Z"
            fill="white" stroke="#1F2024" />
        </svg>
      </div>

      <p-card styleClass="rounded-none shadow-none border-2 border-solid border-bluegray-100 max-w-[18.875rem]">
        <ng-template pTemplate="header">
          <div class="flex items-center justify-center px-3 pt-[.6rem]">
            <div class="bg-[#B2FDEF] h-32 w-full flex items-center justify-center">
              <i class="pi pi-file text-white/50" style="font-size: 4rem;"></i>
            </div>
          </div>
        </ng-template>

        <div class="flex flex-col gap-3">
          <h5 class="font-bold opacity-100 leading-lg">Entities (Coming Soon)</h5>
          <ul class="flex flex-col gap-2 ml-6 list-disc">
            <li class="pl-1 leading-normal">
              Learn about specific entities and create custom views and visualizations
            </li>
          </ul>
        </div>
      </p-card>
    </div>

    <div class="mt-6">
      <div class="flex justify-end">
        <a routerLink="/query" routerLinkActive="active" id="btn-start-using-oed">
          <p-button label="Start Using Open Enzyme Database" styleClass="bg-[#224063]" iconPos="right"
            icon="pi pi-arrow-right"></p-button>
        </a>
      </div>
    </div>
  </div>

  <div class="w-full flex justify-center p-4 cursor-pointer" (click)="scrollToDataSnapshot()">
    <div class="flex flex-col items-center">
      <small class="block leading-lg">MORE</small>
      <i class="pi pi-chevron-down"></i>
    </div>
  </div>
</div>


<div #dataSnapshot class="mt-4 bg-[#F3F5FB] w-full flex flex-col justify-center items-center py-16">
  <div class="xl:w-full w-content-xl pt-6 pb-8">
    <h4>Data Snapshot</h4>
    @if (summary.status === 'loaded') {
    <h5 class="max-w-screen-md mt-5 leading-xl">
      The first release of Open Enzyme Database includes quantities of dataset, featuring
      {{ summary.kcat.total | number }} entries for enzyme turnover number (<h5 class="inline"><span
          class="italic">k</span><sub>cat</sub></h5>),
      {{ summary.km.total | number }} entries for Michaelis constants (<h5 class="inline"><span
          class="italic">K</span><sub>m</sub></h5>), and
      {{ summary.kcat_km.total | number }} entries for enzyme catalytic efficiency (<h5 class="inline"><span
          class="italic">k</span><sub>cat</sub> / <span class="italic">K</span><sub>m</sub></h5>)
    </h5>
    <h5 class="max-w-screen-md mt-5 leading-xl">
      Learn more about our curated data below, or by visiting our statistics page for more information.
    </h5>
    }
  </div>

  @if (summary.status === 'loaded'
  && chartConfigs['pieChart']['data']['kcat'].status === 'loaded'
  && chartConfigs['pieChart']['data']['km'].status === 'loaded'
  && chartConfigs['pieChart']['data']['kcat_km'].status === 'loaded'
  && chartConfigs['barChart']['data'].status === 'loaded') {
  <p-panel styleClass="xl:w-full w-content-xl">
    <ng-template pTemplate="header">
      <span class="grow">Data Snapshot</span>
    </ng-template>

    <div class="flex flex-col">
      <div class="relative"></div>
      <div class="flex gap-2 bg-[#F7F8F9] p-2">
        <div>
          <div class="rounded-md border border-solid border-[--surface-d] py-2 flex flex-col gap-2 bg-white min-w-[100px]">
            <div class="font-semibold px-2">EC Classes</div>
            <hr>
            <div class="flex flex-col">
              @for (color of chartConfigs['pieChart']['styleConfig']['backgroundColor']; track color; let i = $index) {
              <button title="EC {{ i + 1 }}" type="button" class="flex items-center gap-2 cursor-pointer px-2 py-1"
                [class.bg-[#F5F9FF]]="chartState.state === 'focused' && chartState.payload === i"
                (click)="chartState = { state: 'focused', payload: i }; $event.stopPropagation()"
                (mouseover)="chartState = { state: 'hovering-ec', payload: i }; $event.stopPropagation()"
                (mouseout)="chartState = { state: 'mouseout-ec', payload: i }; $event.stopPropagation()">
                @if (currentChart === 'pieChart') {
                <div class="w-4 h-4 rounded-full" [style.background-color]="color"></div>
                }
                <div>{{ ecSummary[i].label }}</div>
              </button>
              }
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2 w-full">
          <div class="flex justify-end w-full pr-8 gap-2">
            @if (chartState.state === 'focused' || chartState.state === 'hovering-ec') {
            <div class="rounded-md border border-solid border-[--surface-d] p-2 flex flex-col gap-2 bg-white grow">
              @switch (currentChart) {
              @case ('pieChart') {
              <div class="font-semibold flex items-center gap-2">
                <div class="w-4 h-4 rounded-full"
                  [style.background-color]="chartConfigs[currentChart]['styleConfig']['backgroundColor'][chartState.payload]">
                </div>
                <div class="font-semibold">{{ ecSummary[chartState.payload].longLabel }}:<span
                    class="font-normal ml-1">{{ ecSummary[chartState.payload].description }}</span></div>
              </div>
              <hr>
              <div class="flex justify-between">
                <div class="flex flex-col gap-2">
                  <div class="font-semibold"><span class="italic">k</span><sub>cat</sub></div>
                  <div class="text-[#6C757D]">No. Entries: <span class="font-semibold text-[--text-color]">{{
                      chartConfigs['pieChart']['data']['kcat'].data.datasets[0].data[chartState.payload] | number
                    }}</span></div>
                  <div class="text-[#6C757D]">% Entries: <span class="font-semibold text-[--text-color]">{{
                      (chartConfigs['pieChart']['data']['kcat'].data.datasets[0].data[chartState.payload] /
                      chartConfigs['pieChart']['data']['kcat'].data.datasets[0].total * 100).toFixed(1) }}%</span>
                  </div>
                </div>
                <div class="flex flex-col gap-2">
                  <div class="font-semibold"><span class="italic">K</span><sub>m</sub></div>
                  <div class="text-[#6C757D]">No. Entries: <span class="font-semibold text-[--text-color]">{{
                      chartConfigs['pieChart']['data']['km'].data.datasets[0].data[chartState.payload] | number
                      }}</span></div>
                  <div class="text-[#6C757D]">% Entries: <span class="font-semibold text-[--text-color]">{{
                      (chartConfigs['pieChart']['data']['km'].data.datasets[0].data[chartState.payload] /
                      chartConfigs['pieChart']['data']['km'].data.datasets[0].total * 100).toFixed(1) }}%</span></div>
                </div>
                <div class="flex flex-col gap-2">
                  <div class="font-semibold"><span class="italic">k</span><sub>cat</sub> / <span class="italic">K</span><sub>m</sub></div>
                  <div class="text-[#6C757D]">No. Entries: <span class="font-semibold text-[--text-color]">{{
                      chartConfigs['pieChart']['data']['kcat_km'].data.datasets[0].data[chartState.payload] | number
                      }}</span></div>
                  <div class="text-[#6C757D]">% Entries: <span class="font-semibold text-[--text-color]">{{
                      (chartConfigs['pieChart']['data']['kcat_km'].data.datasets[0].data[chartState.payload] /
                      chartConfigs['pieChart']['data']['kcat_km'].data.datasets[0].total * 100).toFixed(1) }}%</span>
                  </div>
                </div>
              </div>
              }
              @case ('barChart') {
              <div class="font-semibold flex items-center gap-2">
                <div class="font-semibold">{{ ecSummary[chartState.payload].longLabel }}:<span
                    class="font-normal ml-1">{{ ecSummary[chartState.payload].description }}</span></div>
              </div>
              <hr>
              <div class="flex justify-between">
                <div class="flex flex-col gap-2">
                  <div class="font-semibold flex items-center gap-2">
                    <div class="w-4 h-4 rounded-full"
                      [style.background-color]="chartConfigs['barChart']['styleConfig']['backgroundColor'][0]">
                    </div>
                    <div><span class="italic">k</span><sub>cat</sub></div>
                  </div>
                  <div class="text-[#6C757D]">No. Entries: <span class="font-semibold text-[--text-color]">{{
                      chartConfigs['barChart']['data'].data.datasets[0].data[chartState.payload] | number }}</span>
                  </div>
                  <div class="text-[#6C757D]">% Entries: <span class="font-semibold text-[--text-color]">{{
                      (chartConfigs['barChart']['data'].data.datasets[0].data[chartState.payload] /
                      chartConfigs['barChart']['data'].data.datasets[0].total * 100).toFixed(1) }}%</span></div>
                </div>
                <div class="flex flex-col gap-2">
                  <div class="font-semibold flex items-center gap-2">
                    <div class="w-4 h-4 rounded-full"
                      [style.background-color]="chartConfigs['barChart']['styleConfig']['backgroundColor'][1]">
                    </div>
                    <div><span class="italic">K</span><sub>m</sub></div>
                  </div>
                  <div class="text-[#6C757D]">No. Entries: <span class="font-semibold text-[--text-color]">{{
                      chartConfigs['barChart']['data'].data.datasets[1].data[chartState.payload] | number }}</span>
                  </div>
                  <div class="text-[#6C757D]">% Entries: <span class="font-semibold text-[--text-color]">{{
                      (chartConfigs['barChart']['data'].data.datasets[1].data[chartState.payload] /
                      chartConfigs['barChart']['data'].data.datasets[1].total * 100).toFixed(1) }}%</span></div>
                </div>
                <div class="flex flex-col gap-2">
                  <div class="font-semibold flex items-center gap-2">
                    <div class="w-4 h-4 rounded-full"
                      [style.background-color]="chartConfigs['barChart']['styleConfig']['backgroundColor'][2]">
                    </div>
                    <div><span class="italic">k</span><sub>cat</sub> / <span class="italic">K</span><sub>m</sub></div>
                  </div>
                  <div class="text-[#6C757D]">No. Entries: <span class="font-semibold text-[--text-color]">{{
                      chartConfigs['barChart']['data'].data.datasets[2].data[chartState.payload] | number }}</span>
                  </div>
                  <div class="text-[#6C757D]">% Entries: <span class="font-semibold text-[--text-color]">{{
                      (chartConfigs['barChart']['data'].data.datasets[2].data[chartState.payload] /
                      chartConfigs['barChart']['data'].data.datasets[2].total * 100).toFixed(1) }}%</span></div>
                </div>
              </div>
              }
              }
            </div>
            } @else {
            <div class="h-[116px] w-full"></div>
            }
            <p-dropdown [options]="dropdownOptions" [(ngModel)]="currentChart" optionValue="value"
              (onChange)="currentChart = $event.value"></p-dropdown>
          </div>
          @switch (currentChart) {
          <!-- Pie Charts -->
          @case ('pieChart') {
          <div class="flex justify-center gap-4 p-8">
            @if (chartConfigs['pieChart']['data']['kcat'].status === 'loaded') {
            <div>
              <div class="font-semibold"><span
                  class="pb-1 border-b-2 border-dashed border-black"><span class="italic">k</span><sub>cat</sub></span></div>
              <p-chart type="pie" #kcatChart [data]="chartConfigs['pieChart']['data']['kcat'].data"
                [options]="chartConfigs['pieChart']['data']['kcat'].options"
                [plugins]="chartConfigs['pieChart']['data']['kcat'].plugins"></p-chart>
            </div>
            } @else {
            <div class="flex justify-center items-center h-full">
              <p-skeleton width="100px" height="100px"></p-skeleton>
            </div>
            }

            @if (chartConfigs['pieChart']['data']['km'].status === 'loaded') {
            <div>
              <div class="font-semibold"><span
                  class="pb-1 border-b-2 border-dashed border-black"><span class="italic">K</span><sub>m</sub></span></div>
              <p-chart type="pie" #kmChart [data]="chartConfigs['pieChart']['data']['km'].data"
                [options]="chartConfigs['pieChart']['data']['km'].options"
                [plugins]="chartConfigs['pieChart']['data']['km'].plugins"></p-chart>
            </div>
            } @else {
            <div class="flex justify-center items-center h-full">
              <p-skeleton width="100px" height="100px"></p-skeleton>
            </div>
            }

            @if (chartConfigs['pieChart']['data']['kcat_km'].status === 'loaded') {
            <div>
              <div class="font-semibold"><span class="pb-1 border-b-2 border-dashed border-black"><span
                  class="italic">k</span><sub>cat</sub> / <span class="italic">K</span><sub>m</sub></span></div>
              <p-chart type="pie" #kcatKmChart [data]="chartConfigs['pieChart']['data']['kcat_km'].data"
                [options]="chartConfigs['pieChart']['data']['kcat_km'].options"
                [plugins]="chartConfigs['pieChart']['data']['kcat_km'].plugins"></p-chart>
            </div>
            } @else {
            <div class="flex justify-center items-center h-full">
              <p-skeleton width="100px" height="100px"></p-skeleton>
            </div>
            }
          </div>
          }

          <!-- Bar Charts -->
          @case ('barChart') {
          @if (chartConfigs['barChart']['data'].status === 'loaded') {
          <div class="p-8">
            <div class="flex justify-center w-full">
              <div id="legend-container"></div>
            </div>
            <p-chart type="bar" #histogramChart styleClass="w-full" [data]="chartConfigs['barChart']['data'].data"
              [options]="chartConfigs['barChart']['data'].options" [plugins]="chartConfigs['barChart']['data'].plugins">
            </p-chart>
          </div>
          }
          }
          }
        </div>
      </div>
    </div>

    <hr />

    <div class="flex w-full">
      <p-table #resultsTable [value]="summary.dataset" dataKey="label" class="w-full h-full" tableStyleClass="w-full"
        styleClass="w-full">
        <ng-template pTemplate="header">
          <tr>
            <!-- <th class="align-middle">Reaction</th> -->
            <th class="align-middle"></th>
            <th class="align-middle">
              <span class="font-semibold mr-2"><span class="italic">k</span><sub>cat</sub></span> Dataset
            </th>
            <th class="align-middle">
              <span class="font-semibold mr-2"><span class="italic">K</span><sub>m</sub></span> Dataset
            </th>
            <th class="align-middle">
              <span class="font-semibold mr-2"><span class="italic">k</span><sub>cat</sub> / <span class="italic">K</span><sub>m</sub></span> Dataset
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-expanded="expanded">
          <tr>
            <td class="align-middle w-[300px]">{{ row.label }}</td>
            <td class="align-middle">{{ row.kcat | number }}</td>
            <td class="align-middle">{{ row.km | number }}</td>
            <td class="align-middle">{{ row.kcat_km | number }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-panel>
  }

  @else {
  <div class="flex justify-center items-center h-full">
    <p-progressSpinner ariaLabel="loading" />
  </div>
  }
</div>