<nav [class]="'h-full bg-[--surface-b] pt-4' + 
    (collapsed ? ' border-r-2 border-solid border-[--surface-d] w-sidebar-sm' : ' w-sidebar')">
    <div [class]="'flex' + (collapsed ? ' justify-center pb-4' : ' justify-end p-2 pr-4')">
        <button (click)="toggleCollapsed()" aria-label="Toggle sidebar">
            <i class="text-xs pi pi-chevron-left" [style.transform]="collapsed ? 'rotate(180deg)' : ''"></i>
        </button>
    </div>
    @for (group of groupedTools | keyvalue; track group.key) {
        @if (group.key !== 'default' && !collapsed) {
        <div class="pl-8 mb-2 text-gray-400 text-[.85rem]">
            {{ group.key }}
        </div>
        }
        <ul>
            @for (tool of group.value; track tool.id) {
            <li [pTooltip]="collapsed ? tool.name : ''" [class]="'p-2' + 
                            (collapsed ? ' px-4' : ' pl-8') + 
                            (tool.status !== ToolStatus.DISABLED ? ' hover:bg-gray-100' : '') + 
                            (selectedTool === tool.id ? ' bg-white' : '')">

                <a class="flex items-center gap-2" 
                    [class.text-gray-600]="tool.status !== ToolStatus.DISABLED"
                    [class.text-gray-400]="tool.status !== ToolStatus.RUNNING"
                    [class.pointer-events-none]="tool.status !== ToolStatus.RUNNING"
                    [target]="openInNewPage ? '_blank' : ''" 
                    [href]="tool.route"
                >

                    @if (tool.icon) {
                    <i class="{{ tool.icon }}"></i>
                    
                    } @else if (tool.svgGenerator) {
                    <div [innerHTML]="tool.svgGenerator(fillColorsMap[tool.id]) | safe:'html'"></div>
                    }
                    
                    @if (!collapsed) {
                        <h6 class="opacity-100 leading-lg"
                            [class.text-text-primary]="selectedTool === tool.id"
                            [class.font-semibold]="selectedTool === tool.id">
                            {{ tool.name }}
                            @if (tool.status === ToolStatus.COMING_SOON) {
                                <span class="italic">(coming soon)</span>
                            }
                        </h6>
                    }
                </a>
            </li>
            }
        </ul>
    }
</nav>