<div class="flex flex-col gap-2">
    @if (selectedSearchOption; as option) {
        <span class="flex justify-between mt-2 text-sm mx-2">
            <div class="flex gap-4 items-center">
                <small class="font-semibold leading-xl">
                    {{ option.label }} {{ option.type === 'range' ? 'Range' : '' }}
                </small>
                @if (option.formControl['select']) {
                    <div class="flex gap-2 items-center">
                        <div class="flex items-center gap-2">
                            <p-radioButton 
                                name="inputType" 
                                value="name" 
                                [formControl]="option.formControl['select']"
                                inputId="inputType1" />
                            <label for="inputType1">Name</label>
                        </div>
                        
                        <div class="flex items-center gap-2">
                            <p-radioButton 
                                name="inputType" 
                                value="smiles" 
                                [formControl]="option.formControl['select']" 
                                inputId="inputType2" />
                            <label for="inputType2">SMILES</label>
                        </div>
                        
                    </div>
                    
                }
            </div>
            <small class="leading-xl text-text-secondary">
                Example:
                <small class="font-semibold underline cursor-pointer"
                    (click)="useExample(option.key)"
                >
                    {{ option.example.label }}
                </small>
            </small>
        </span>
    }
    <div class="flex p-[5px] border border-[--surface-d] rounded-lg border-solid gap-2">
        <button type="button" class="flex items-center btn-outline !bg-[--surface-b] !px-4 !py-0 !text-[--surface-700]"
            (click)="searchMenu.toggle($event)">
            <span class="font-semibold leading-lg">{{
                selectedSearchOption ? selectedSearchOption.label : "Select Search Type"
                }}</span>
            <i class="ml-2 pi pi-chevron-down"></i>
        </button>
        <p-menu #searchMenu [model]="searchOptions" [popup]="true"></p-menu>
        <!-- TODO: refactor -->
        @switch (selectedSearchOption?.key) {
            @case ('compound') {
                <app-marvinjs-input 
                    placeholder="Enter a compound"
                    class="grow h-8"
                    [formControl]="selectedSearchOption!.formControl['value']"
                >
                </app-marvinjs-input>
            }
            @case ('organism') {
                <input 
                    pInputText 
                    type="text" 
                    placeholder="Enter organism name"
                    [formControl]="selectedSearchOption!.formControl['value']"
                    class="grow border-none h-8" />
            }
            @case ('ec_number') {
                <input 
                    pInputText 
                    type="text" 
                    placeholder="Enter EC number"
                    [formControl]="selectedSearchOption!.formControl['value']"
                    class="grow border-none h-8" />
            }
            @case ('uniprot_id') {
                <input 
                    pInputText 
                    type="text" 
                    placeholder="Enter Uniprot ID"
                    [formControl]="selectedSearchOption!.formControl['value']"
                    class="grow border-none h-8" />
            }
            @case ('ph') {
                <input 
                    pInputText 
                    type="text" 
                    placeholder="Enter pH range"
                    [formControl]="selectedSearchOption!.formControl['value']"
                    class="grow border-none h-8" />
            }
            @case ('temperature') {
                <input 
                    pInputText 
                    type="text" 
                    placeholder="Enter temperature range (°C)"
                    [formControl]="selectedSearchOption!.formControl['value']"
                    class="grow border-none h-8" />
            }
            @default {
                <input pInputText type="text" placeholder="(Select a search type using the menu to the left to get started)"
                    class="grow border-none h-8" />
            }
        }
    </div>
    @if (
        selectedSearchOption &&
        selectedSearchOption.key === 'compound' && 
        selectedSearchOption.formControl['value'].value
    ) {
        <div
            class="relative mt-4 grow flex-col items-center justify-center rounded-md border border-solid border-[--surface-d]"
            [class.invalid]="selectedSearchOption!.formControl['value'].errors 
                && selectedSearchOption!.formControl['value'].dirty"
            
        >
            <div class="flex items-center justify-center">
                <i class="absolute pi left-3 top-3"
                    [class.pi-check-circle]="selectedSearchOption!.formControl['value']['valid']"
                ></i>
                <app-molecule-image 
                    [height]="300" 
                    [width]="300"
                    [molecule]="''"
                >
                </app-molecule-image>
            </div>
        </div>
    }
</div>
